@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/* NavBar*/
.navbar-menu {
    background: #405189;
}

.nav-style {
    color: #FFF !important;
    opacity: 70%;
}

.nav-style:hover {
    opacity: 100% !important;
}

/* Menú lateral visible */
.app-menu {
    position: fixed;
    left: 0; /* Ahora el menú está visible por defecto */
    width: 250px;
    height: 100vh;
    background-color: #2a3042;
    transition: left 0.3s ease-in-out;
}

.app-menu.menu-open {
    left: 0;
}

.app-menu:not(.menu-open) {
    left: -250px; /* Se oculta al hacer clic en el botón */
}

/* Menú lateral oculto */
.app-menu.menu-closed {
    left: -250px; /* Se oculta completamente */
}

/* Contenedor principal con menú abierto */
.main-content {
    margin-left: 250px; /* Ocupa el espacio normal cuando el menú está abierto */
    transition: all 0.3s ease-in-out;
    /*position: relative;
    z-index: 100; /* Asegura que esté sobre posibles capas de bloqueo */
}

/* Contenedor principal cuando el menú está cerrado */
.main-content.full-width {
    margin-left: 0; /* Se expande completamente hacia la izquierda */
    width: 100%;
}

.vertical-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    transition: opacity 0.3s ease-in-out;
}
/*
.vertical-overlay.active {
    display: block;
}
*/
/* Header cuando el menú está abierto */
#page-topbar {
    position: fixed;
    top: 0;
    left: 250px; /* Alineado con el menú */
    width: calc(100% - 250px);
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

/* Header cuando el menú está oculto */
#page-topbar.expanded-header {
    left: 0;
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 250px;
    width: calc(100% - 250px); /* Cuando el menú está abierto */
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

/* Expande el footer cuando el menú está cerrado */
.footer.full-width {
    left: 0;
    width: 100%;
}

/* Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    min-width: 400px;
}

.show {
    display: flex;
}

.hide {
    display: none;
}
/* Modal Delete */
.modal-overlay-delete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-delete {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.cancel-button {
    background: gray;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.delete-button {
    background: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
    